* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cart-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.cart-container .cart-menu {
    position: relative;
    z-index: 1;
    width: 420px;
}

.cart-menu .product-container {
    max-height: 400px;
    overflow-y: scroll;
}

.cart-menu .product-container .product-item ul {
    list-style-type: none;
    padding: 0;
}

.cart-menu .product-container .product-item ul li {
    font-size: 14px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    gap: 15px;
    display: flex;
    align-items: center;
}

.cart-menu .product-container .product-item ul li h6 {
    font-size: 14px;
}

.cart-menu .product-container .product-item ul li img {
    width: 60px;
    height: 60px;
}

.cart-menu .card-body button {
    margin: 10px 0;
}

.cart-menu .card-body h5 {
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.171);
    border-radius: 3px;
    padding: 5px;
}

.hidden {
    display: none;
}