/* MOBILE VIEW SCREEN: 340px */

* {
    font-family: Verdana;
    box-sizing: border-box
}

.card,
.pizzaproductcard {
    position: relative;
}

/* .header {
    background-color: #00b530;
}

.navigationbg {
    background-color: #00b530;
} */

/* .navmenus {
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}

.navbutton:hover {
    color: #CC0000;
}

.navbutton {
    background-color: #00b530;
    border: 0;
    color: white;
}

.fas {
    color: white;
}

.fas:hover {
    color: #CC0000;
} */

/* .herosectionbanner{
    position: relative;
    text-align: center;
} */

/* .tagline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #CC0000;
    background-color: whitesmoke;
} */

/* Style the tab */
.tab {
    background-color: #CC0000;
    width: 30%;
    height: auto;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.8rem;
    text-transform: uppercase;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #00b530;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #00b530;
}

.tabcontent {
    width: 65%;
}


.menuheading {
    font-family: Verdana;
}

.legends {
    max-width: 80%;
}

.legenditems {
    font-size: x-small;
}

.pizzaproductcard {
    width: 11rem;
}

#about {
    background-color: black;
}

.aboutus {
    color: white;
}

.contactdetails{
    color: white;
}